<div>
    <app-widget-area></app-widget-area>
</div>

<mat-divider>
</mat-divider>

<div class="card-items">
    <app-widgets-card title="Test" author="Author-Test"></app-widgets-card>
    <app-widgets-card title="Test" author="Author-Test"></app-widgets-card>
    <app-widgets-card title="Test" author="Author-Test"></app-widgets-card>
    <app-widgets-card title="Test" author="Author-Test"></app-widgets-card>
</div>

<mat-divider></mat-divider>

<div>

    <div>Table</div>
    <div>Pie char</div>
</div>
